NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_SITE_URL=https://bulky.id
NEXT_PUBLIC_COOKIES_KEY=cookies_key
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
ALLOWED_DEV_ORIGINS=your_dev_machine_ip_here
